.container{
    padding: 20px;
    background: var(--bg-soft);
    margin-top: 20px;
    border-radius:10px;
}
.head{
    display: flex;
    justify-content: space-between;
}

.btnAdd{
    background: var(--btn-add);
    color:white;
    border:none;
    border-radius:5px ;
    padding:10px;
}
.table{
    width: 100%;   
}
.table td{
    padding:10px;
    cursor: pointer;
}
.table tr:hover{
    background: var(--bg-hover);
}

.button{
    padding:10px;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}
.delete{
    background: var(--red-hevy);
}
.view{
    background: var(--green-hevy)
}
.btns{
    display: flex;
    gap:10px;
}
.userName{
    display: flex ;
    align-items: center;
    gap:10px;
}
.userName img{
    border-radius: 10rem;
}